# Node
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env

# Database / uploads
/data/
/uploads/

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp
